table {
    margin-left: 20px;
    margin-right: 20px;
    border-spacing: 0;
    border: thin solid black;
}

th, td {
    border: thin solid grey;
    text-align: center;
    vertical-align: middle;
}

th {
    background-color: #b4c5d4;
}

tr:nth-child(even) {
    background-color: white;
}

tr:nth-child(odd) {
    background-color: lightgray;
}

td .item-td {
    text-align: left;
    width: 10%;
}

li {
    font-size: small;
}
