.ReportingRow {
}

.rowName {
  text-align: left;
  position: relative;
}

.icon {
  float: left;
  margin: 3px 3px 0 4px;
  color: #ECECEC;
  font-size: 12px;
}

.primary {
  background: #535353;
  color: white;
}

.secondary {
  background: #A7A7A7;
}

.tertiary {
  background: #DDDDDD;
}

.primaryTitle, .secondaryTitle, .tertiaryTitle {
  font-weight: bold;
  border: 1px solid #000;
  cursor: pointer;
}